<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aka.mapper.FinancialMapper">

    <!--查询的使t_security\t_shares\t_role-->
    <select id="findSecurityById"  resultType="security">
        SELECT t_security.id as id,
               t_shares.holder as username,
               t_security.securityname as securityname,
               t_security.securitypassward as securitypassward,
               t_security.company as company,
               t_security.dataid as dataid,
               t_security.starttime as starttime,
               t_security.endtime as endtime
        FROM t_security inner join t_shares on t_security.userid = t_shares.userid
        inner join t_role on t_security.id = t_role.roleid
    </select>

</mapper>