<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aka.mapper.UserMapper">
    <sql id="whereUser">
        <where>
                <if test="username!=null and username!='' ">
                    and username like "%"#{username}"%"
                </if>
                <if test="truename!=null and truename!='' ">
                    and truename like "%"#{truename}"%"
                </if>
                <if test="appellation!=null and appellation!='' ">
                    and appellation like "%"#{appellation}"%"
                </if>
                <if test="sex!=null and sex!='' ">
                    and sex = #{sex}
                </if>
                <if test="roleid!=null and roleid!='' ">
                    and roleid = #{roleid}
                </if>
        </where>
    </sql>
    <update id="updateUser" parameterType="user">
        update ffms.t_user a,ffms.t_user_role b
        <set>
            <if test="username!=null and username!='' ">
                a.username=#{username},
            </if>
            <if test="password!=null and password!='' ">
                a.password=#{password},
            </if>
            <if test="truename!=null and truename!='' ">
                a.truename=#{truename},
            </if>
            <if test="email!=null and email!='' ">
                a.email=#{email},
            </if>
            <if test="phone!=null and phone!='' ">
                a.phone=#{phone},
            </if>
            <if test="address!=null and address!='' ">
                a.address=#{address},
            </if>
            <if test="sex!=null and sex!='' ">
                a.sex=#{sex},
            </if>
            <if test="age!=null and age!='' ">
                a.age=#{age},
            </if>
            <if test="appellation!=null and appellation!='' ">
                a.appellation=#{appellation},
            </if>
            <if test="salary!=null and salary!='' ">
                a.salary=#{salary},
            </if>
            <if test="card!=null and card!='' ">
                a.card=#{card},
            </if>
            <if test="roleid!=null and roleid!='' ">
                b.roleid=#{roleid},
            </if>
            a.updatetime=#{updatetime}
        </set>
        where a.isvalid=1 and a.id=#{id} and b.userid=#{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from ffms.t_user  where id=#{id};
    </delete>

    <select id="findUserAndRoleByNP" parameterType="User" resultType="User">
        select u.*, r.id roleid,r.rolename from ffms.t_user u left JOIN ffms.t_user_role ur ON u.id=ur.userid INNER JOIN ffms.t_role r ON ur.roleid = r.id
where u.username=#{username} and u.password=#{password} and r.id=#{roleid};
    </select>

    <select id="findUserByUsername" resultType="User">
        select * from ffms.t_user where username=#{username};
    </select>

    <select id="findAllUserByPage" parameterType="map" resultType="User">
        select u.*, r.id roleid,r.rolename from ffms.t_user u left JOIN ffms.t_user_role ur ON u.id=ur.userid INNER JOIN ffms.t_role r ON ur.roleid = r.id
        <include refid="whereUser"/>
        limit #{start} ,#{pageSize};
    </select>
    <select id="findTotalUser" parameterType="map" resultType="java.lang.Integer">
        select count(*) from ffms.t_user u left JOIN ffms.t_user_role ur ON u.id=ur.userid INNER JOIN ffms.t_role r ON ur.roleid = r.id
        <include refid="whereUser"/>
    </select>

    <insert id="addUser" parameterType="User">
        insert into ffms.t_user values(null,#{username},#{password},#{truename},#{email},#{phone},#{address},#{sex},#{age},#{appellation},#{salary},#{card},1,#{createtime},null);
    </insert>

    <insert id="addUserRole" parameterType="user">
        insert into ffms.t_user_role (userid, roleid) VALUE (#{id},#{roleid})
    </insert>
</mapper>